.duplicated-marker-wrapper {
  position: relative;
  background-color: transparent;
}

.duplicated-marker-text {
  position: absolute;
  width: 18px;
  top: 0;
  left: 0px;
  text-align: center;
}

.duplicated-marker-icon {
  position: absolute;
  width: 100%;
}

.duplicated-marker-shadow {
  position: absolute;
  bottom: 0;
  left: 8px;
}